body {
   
    background: #fefefe;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: normal;
    line-height: 1.5;
    color: white !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.no:before {
    content: "";
    position: absolute;
    background: none !important;
}


.top-bar {
    background-color: #1f3366;
    background: #1f3366;
    height: 80px;
    padding-left: 6rem;
    padding-right: 9rem;
    transition: .3s;
}


.top-bar ul {
    background-color: transparent;
}


.menu li {
    outline: 0;
    min-width: 114px;
    text-align: center;
    transition: .3s;
}


.top-bar a {
    background-color: transparent;
    color: white;
    /* text-transform: uppercase; */
    font-family: 'Open Sans', sans-serif;
    /* font-weight: 700; */
    /* letter-spacing: -1.2px; */
    font-size: 0.9rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}


#logo {
    height: 3.7rem;
    width: auto;
    max-height: 40px;
}


@media screen and (max-width: 63.9375em) and (min-width: 40em){
.top-bar {
   /* height: 8rem;*/
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu li {
    outline: 0;
    min-width: auto;
    text-align: center;
}


}

.top-bar a:hover:before {
    left: 0;
    right: 0;
}


.top-bar a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


@media screen and (max-width: 39.9375em){
.top-bar {
    height: auto;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.menu li {
    outline: 0;
    /* min-width: auto; */
    text-align: center;
    display: inline-block;
    width: 33%;
    height: 50%;
}



.menu .menu-text {
    padding: 0;
    font-weight: bold;
    line-height: 1;
    color: inherit;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
}


}


.imgencabezado img {
    display: inline-block;
    vertical-align: middle;
    /* max-width: 400px; */
    max-height: 100%;
    width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}
