<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=EDGE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BI B@anking</title>
    <!-- <link rel="stylesheet" href="../../css/val.css"> -->
    <link rel="stylesheet" href="../../css/opensans.css">

    <link rel="stylesheet" href="../../css/foundation.css">
    <link rel="stylesheet" href="../../css/app.css">
    <!-- <link rel="stylesheet" href="../../css/bancalogged.css"> -->
    <link rel="stylesheet" href="../../css/header.css">

    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/reasignacion_soft_token.css">
    <link rel="stylesheet" href="../../css/wizard.css">
    <link rel="stylesheet" href="../../css/wizard_step3.css">
    <!--  <link rel="stylesheet" href="../css/registrarse1.css">   -->
    <!-- <link rel="stylesheet" href="../css/wizard.css"> -->
    <!-- <link rel="stylesheet" href="css/fa-svg-with-js.css"> -->
    <!-- icos -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../img/fabicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../img/fabicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../img/fabicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../img/fabicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../img/fabicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../img/fabicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../img/fabicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../img/fabicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../img/fabicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/fabicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../img/fabicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../img/fabicon/favicon-16x16.png">

    <link rel="stylesheet" href="../../css/fa/css/fontawesome-all.css">
    <script defer src="../../js/fontawesome/fontawesome-all.js"></script>
    <link rel="stylesheet" href="../../icon/iconos/styles.css">
    <link rel="stylesheet" href="../../icon/iconosnum/styles.css">
    <link type="text/css" rel="stylesheet" href="../../icon/iconosalertas/styles.css">
    <link rel="stylesheet" href="../../icon/iconossoft/styles.css">

</head>
<body>


    <!-- Menu -->

    <div class="top-bar" id="">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">
                    <a class="no" href="../home_publico/index_horizontal.html"><img id="logo" src="../../img/logo.png" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="../home_publico/index_horizontal.html">Inicio</a></li>
                <li><a href="../home_publico/ayuda.html">Ayuda</a></li>
                <li><a href="../home_publico/horarios.html">Horarios</a></li>
            </ul>
        </div>
    </div>



    <div class="contenedor imgencabezado">
        <img src="../../img/softtoken/banner-soft-token-bb.jpg" />
        <div class="texto-encima"><p><strong>Reasignaci&oacute;n</strong> de nuevo dispositivo</p></div>
    </div>

    <!-- /Menu -->


            <div class="row large-12 medium-10 section-size">

        <div class="columns large-12"> 
        <div data-closable class="alert-box callout success">
        <i class="iconalert-icon-alerta-success"></i>Tu dispositivo anterior fue desasignado exitosamente, por favor ingresa de nuevo a Bi Banking para completar la asignaci&oacute;n.
        </div>
        </div>

            <div class="columns large-4 medium-12" style="margin-top: 25px;">

                <div class="columns large-12 medium-4 iconoflex">
                    <i class="icon icon-exito-soft-token2"></i>
                    <div class="icon iconcheck">Finalizaci&oacute;n <br /><strong>de proceso</strong></div>
                </div>



                    <div class="columns large-12 large-push-0 medium-6 medium-pull-1 parrafo_bajar">
                      <p class="parrafo">Gracias por utilizar nuestro asistente para reasignacion de dispositivos.<br /><br />Soporte t&eacute;cnico: <br /><br /><strong>-Cont&aacute;ctanos al PBX: <span class="numero" style="color: #424141; font-size: inherit;">2420-3200</span><br />-Escr&iacute;benos a: bmsoporte@bi.com.gt</strong></p>
                       </div>

            </div>



            <div class="columns large-8 medium-8">
                <div class="columns large-6 large-push-4 medium-8 medium-push-2 small-12 wizard">
                    <div class="wizard-inner">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5" style="width: 100%;">
                            </div>
                        </div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                    <span class="round-tab">
                                        <div class="icon icon-wizard-bb-01 iconosnum"></div>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="active">
                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                    <span class="round-tab">
                                        <div class="icon icon-wizard-bb-02 iconosnum"></div>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="active">
                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                    <span class="round-tab">
                                        <div class="icon icon-wizard-bb-03 iconosnum"></div>
                                    </span>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>

        

                <div class="large-10 large-push-2 columns etiqueta">
                    <div class="large-3 medium-6 columns"><p class="descEtiqueta">Banco Industrial, S.A.</p></div>
                    <div class="large-2 medium-6 columns"><p class="descEtiqueta"><span class="numero" style="font-size: inherit;">30</span> - Abril - <span class="numero" style="font-size: inherit;">2020</span></p></div>
                    <div class="large-2 medium-6 columns"><p class="descEtiqueta"><span class="numero" style="font-size: inherit;">16:35:04</span> pm</p></div>
                    <div class="large-5 medium-6 columns"><p class="descEtiqueta">Autorización No. <span class="numero" style="font-size: inherit;">2623-136161361-156161</span></p></div>
                </div>

                <div class="row">
                    <div class="medium-6 large-5 medium-push-6 large-push-7 columns" style="margin-top: 20px;">
                        <a href="../home_publico/index_horizontal.html">
                            <button id="btnAceptar" class="button someToken" type="button">Ingresar</button>
                        </a>
                    </div>
                </div>
   


            </div>


            

        </div>


        <script src="../../js/vendor/jquery.js"></script>
        <script src="../../js/vendor/foundation.js"></script>
        <script src="../../js/vendor/foundation.min.js"></script>
        <script src="../../js/app.js"></script>


</body>
</html>
