<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=EDGE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BI B@anking</title>
    <!-- <link rel="stylesheet" href="css/val.css"> -->
    <link rel="stylesheet" href="../../css/opensans.css">
    <!-- <link rel="stylesheet" href="css/ani.css"> -->
    <link rel="stylesheet" href="../../css/foundation.css">
    <link rel="stylesheet" href="../../css/app.css">
    <!-- <link rel="stylesheet" href="css/bancalogged.css"> -->
    <!-- <link rel="stylesheet" href="css/fa-svg-with-js.css"> -->
    <!-- <link rel="stylesheet" href="../../css/index_horizontal.css"> -->
    <!-- <link rel="stylesheet" href="css/actualizacion_seguridad.css"> -->
    <!-- <link rel="stylesheet" href="css/fa-svg-with-js.css"> -->
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/actualizacion_seguridad.css">
    <!-- icos -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../img/fabicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../img/fabicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../img/fabicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../img/fabicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../img/fabicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../img/fabicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../img/fabicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../img/fabicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../img/fabicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/fabicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../img/fabicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../img/fabicon/favicon-16x16.png">
    <!--  <link rel="stylesheet" href="css/sli.css"> -->
    <link rel="stylesheet" href="../../css/fa/css/fontawesome-all.css">
    <script defer src="../../js/fontawesome/fontawesome-all.js"></script>


    <!--   <meta name="google-play-app" content="app-id=gt.com.bi.bienlinea">

     <link rel="stylesheet" href="bannerApp/jquery.smartbanner.css" type="text/css" media="screen">
     -->

</head>
<body>


  <!-- Menu -->

<div class="top-bar" id="">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">
          <a class="no" href="index_horizontal.html"><img id="logo" src="../../img/logo.png" alt=""></a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="index_horizontal.html">Inicio</a></li>
            <li><a href="ayuda.html">Ayuda</a></li>
            <li><a href="horarios.html">Horarios</a></li>
        </ul>
    </div>
  </div>


<div class="contenedor imgencabezado">
  <img src="../../img/homepublico/actualizacion-perfil-de-seguridad-min.jpg" />
  <div class="texto-encima"><p>Actualizaci&oacute;n de perfil <strong>de seguridad</strong></p></div>
</div>
<!-- /Menu -->


<form data-abide novalidate >


<div class="row section-size">
<div class="large-12 columns">

<div class="row">

        <div class="medium-6 columns ">
            <label>
                N&uacute;mero celular*
                <input class="numero" type="text" placeholder="N&uacute;mero de celular" required="" pattern="number">
                <span class="form-error">
                    Ingresa tu n&uacute;mero celular.
                </span>
            </label>
            </div>


    <div class="medium-6 columns">
        <label>
            Compañ&iacute;a celular*
            <select  type="option" required="">
                <option type="option" value="">Selecciona tu compañ&iacute;a</option>
                <option type="option" value="1">Tigo</option>
                <option type="option" value="2">Claro</option>
            </select>
            <span class="form-error">
                Selecciona una opci&oacute;n.
            </span>
        </label>
            </div>
</div>


<div class="row">
                   <div class="medium-6 columns">
                    <label>Correo electr&oacute;nico*
    <input class="placeholder numero"  placeholder="Tu correo electr&oacute;nico" type="text" required pattern="email">
    <span class="form-error" data-form-error-on="required">
      Ingresa tu correo electr&oacute;nico.
    </span>
    <span class="form-error" data-form-error-on="pattern">
        Correo electr&oacute;nico inv&aacute;lido
    </span>
  </label>
            </div>





            <div class="medium-6 columns">
                <label>
                  Cambiar mi contraseña cada*
                    <select  type="option" required="">
                        <option type="option" value="">Elige un periodo de cambio</option>
                        <option type="option" value="1">3 meses</option>
                        <option type="option" value="2">6 meses</option>
                        <option type="option" value="2">8 meses</option>
                    </select>
                    <span class="form-error">
                        Selecciona un periodo.
                    </span>
                </label>
            </div>

</div>

<div class="row">
            <div class="medium-6 columns">
                <label>
                    Pregunta secreta*
                    <select  type="option" required="">
                        <option type="option" value="">Selecciona una pregunta</option>
                        <option type="option" value="1">¿Cu&aacute;l es el nombre de tu primer mascota?</option>
                        <option type="option" value="2">¿Cu&aacute;l es el nombre de tu mejor amigo?</option>
                    </select>
                    <span class="form-error">
                        Selecciona una pregunta.
                    </span>
                </label>
            </div>
</div>


<div class="row">
       <div class="medium-6 columns">
                <label>
                   Respuesta secreta*
                    <input class="placeholder numero" type="text" id="respuesta" placeholder="Ingresa tu respuesta" required="">
                    <span class="form-error">
                        Ingresa tu respuesta.
                    </span>
                </label>
            </div>

            <div class="medium-6 columns ">
                <label>
               Confirmar respuesta*
                    <input  class="placeholder numero" type="text" placeholder="Confirma tu respuesta" data-equalto="respuesta" required="">
                    <span class="form-error">
                        Respuesta secreta no coincide.
                    </span>
                </label>
            </div>

</div>



<div class="row">
<div class="large-12 columns">
                    <div class="obligatorio">
                        <h4><strong>Todos los campos son obligatorios*</strong></h4>
                    </div>
</div>

</div>

                   
<div class="row">
                        <div class="large-3 large-offset-9 medium-6 medium-offset-6 columns mtop20">
                            <button class="button" type="submit" value="Submit">Cambiar contraseña</button>

                        </div>
                   </div>



</div>
</div>

</form>


    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/vendor/foundation.js"></script>
    <script src="../../js/vendor/foundation.min.js"></script>
    <script src="../../js/app.js"></script>


</body>
</html>
