<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BI B@anking</title>
    <link rel="stylesheet" href="../../css/val.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/ani.css">
    <link rel="stylesheet" href="../../css/redeslinea/styles.css">
    <link rel="stylesheet" href="../../css/foundation_cell.css">
    <link rel="stylesheet" href="../../css/app.css">

    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="../../css/helpfont.css">
    <link rel="stylesheet" href="../../css/opensans.css">
    <link rel="stylesheet" href="../../css/fa-svg-with-js.css">

    <!-- icos -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../img/fabicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../img/fabicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../img/fabicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../img/fabicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../img/fabicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../img/fabicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../img/fabicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../img/fabicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../img/fabicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/fabicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../img/fabicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../img/fabicon/favicon-16x16.png">
    <link rel="stylesheet" href="../../css/sli.css">
    <link rel="stylesheet" href="../../css/fa/css/fontawesome-all.css">
    <script defer src="../../js/fontawesome/fontawesome-all.js"></script>
</head>
<body>




  <!-- Menu -->
<div class="top-bar" id="">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">
          <a class="no" href="index_horizontal.html"><img id="logo" src="../../img/logo.png" alt=""></a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="index_horizontal.html">Inicio</a></li>
            <li class="active"><a href="ayuda.html">Ayuda</a></li>
            <li><a href="horarios.html">Horarios</a></li>
        </ul>
    </div>
  </div>

  <!-- /Menu -->

<div class="grid-container full">
  <div class="grid-x main_help">
    <div class="cell auto"></div>
    <div class="cell large-6">
      <h2>¿C&oacute;mo podemos ayudarte?</h2>        
    </div>
    <div class="cell auto"></div>
  
  </div>

  <div class="grid-x help2" data-equalizer data-equalizer-watch>

    <div class="cell large-12 help2text bibanking">
      <h2 style="text-transform: none; font-weight: 800">¿Qu&eacute; es Bi Banking?</h2>
      <p>Es la banca empresarial en l&iacute;nea que te ofrece Banco Industrial, para que realices todas tus operaciones bancarias de una manera f&aacute;cil y segura, por medio de internet a trav&eacute;s de una computadora, tablet o celular.</p>


      <div class="cell float-left btn_help2 grid-padding"> 

      <a href="https://www.corporacionbi.com/gt/bancoindustrial/preguntas-frecuentes-bibanking" target="_blank" class="hollow button expanded login100-form-btn">Conoce más...</a>
      </div>
    </div>
  </div>


 <div class="grid-x help4">
      <div class="linkbox help4left cell large-12"><a href="gestiones.html">
    <h2><i class="icon-book-open icons"></i> SOLICITUD DE BIBANKING</h2>
</a>
      </div>
  </div>
    

      <div class="grid-x help3">
          <div class="help3left cell large-3">
              <i class="icon-lock icons"></i><br><br>
              <h2>Tips de seguridad</h2>
          </div>

      <div class="help3right cell large-9">
        <div class="grid-x full halfheight">

          <div class="linktip tipbox2 cell large-auto medium-auto small-12"><a target="_blank" href="https://blog.corporacionbi.com/noticias/boletin-alerta-contra-el-phishing"><i class="ih-help-phishing"></i><h2>Alerta contra el Phishing</h2></a></div>

          <div class="linktip tipbox1 cell large-auto medium-auto small-12"><a target="_blank" href="https://blog.corporacionbi.com/productos/consejos-de-seguridad-para-no-ser-víctima-de-phishing"><i class="ih-help-thief"></i><h2>C&oacute;mo evitar ser víctima de Phishing</h2></a></div>

          <div class="linktip tipbox4 cell large-auto medium-auto small-12"><a target="_blank" href="https://blog.corporacionbi.com/noticias/protege-tu-correo-electronico"><i class="ih-help-navega"></i><h2>Protege tu correo electr&oacute;nico</h2></a></div>
        </div>

        <div class="grid-x full halfheight">
          <div class="linktip tipbox4 cell large-auto medium-auto small-12"><a target="_blank" href="https://blog.corporacionbi.com/noticias/como-tener-una-contrasena-segura"><i class="ih-help-verifica"></i><h2>C&oacute;mo tener una contraseña segura</h2></a></div>

          <div class="linktip tipbox2 cell large-auto medium-auto small-12"><a target="_blank" href="https://www.corporacionbi.com/gt/bancoindustrial/malware"><i class="ih-help-malware"></i><h2>¿Qué es el Malware?</h2></a></div>

          <div class="linktip tipbox1 cell large-auto medium-auto small-12"><a target="_blank" href="https://blog.corporacionbi.com/productos/ataques-de-ingenieria-social-banco-industrial"><i class="ih-help-key"></i><h2>Ataques de Ingenier&iacute;a Social</h2></a></div>
          
        </div>
      </div>

  </div>

  <div class="grid-x help4">
      <div class="linkbox help4left cell large-12"><a href="https://issuu.com/corporacionbi/docs/bb_reiniciar_contrasen_a_de_usuarios?fr=sNzVkODEwNjM5Mjk">
    <h2><i class="fas fa-arrow-down"></i> &nbsp;&nbsp;Carta para reinicio de contraseña</h2>
</a>
      </div>
  </div>

  </div>


<div class="grid-x help5">
    <div class="help5box1 cell large-auto medium-12 small-12">
        <h2><a target="_blank" href="https://www.corporacionbi.com/gt/bancoindustrial/inicio"><i class="icon-paper-plane icons"></i> Ingresa a nuestro Portal Corporativo</a></h2>

    </div>

    <div class="help5box2 cell large-auto medium-12 small-12">
        <h2>
            S&iacute;guenos en nuestras <br> redes sociales
            <div class="socialboxes">
                <div class="social_link">
                    <a target="_blank" href="https://www.facebook.com/BancoIndustrial/" class="help5link">
                        <!--<i class="icon ic-fb"></i>-->
                        <img src="../../img/fb.png">

                    </a>
                </div>
                <div class="social_link ">
                    <a target="_blank" href="https://www.instagram.com/bancoindustrial/" class="help5link">
                        <!--<i class="icon ic-ig"></i>-->
                        <img src="../../img/ig.png" >
                    </a>
                </div>
                <div class="social_link">
                    <a target="_blank" href="https://twitter.com/bancoindustrial" class="help5link">
                        <!--<i class="icon ic-tw"></i>-->
                        <img src="../../img/tw.png" >
                    </a>
                </div>

                <div class="social_link">
                    <a target="_blank" href="https://www.linkedin.com/company/bancoindustrial/" class="help5link iconpngspecial">
                        <!--<i class="icon ic-in"></i>-->
                        <img src="../../img/in.png" >
                    </a>
                </div>

                <div class="social_link last">
                    <a target="_blank" href="https://www.youtube.com/user/CorporacionBI" class="help5link iconpngspecial">
                       <!-- <i class="icon ic-yt"></i>-->
                       <img src="../../img/yt.png" >
                    </a>
                </div>
            </div>
            <!--         <i class="fab fa-youtube"><a href="#" class="help5link"></a></i>
            <i class="fab fa-facebook-square"><a href="#" class="help5link"></a></i>
            <i class="fab fa-linkedin"><a href="#" class="help5link"></a></i> -->
        </h2>

    </div>

    <div class="help5box3 cell large-auto medium-12 small-12">
        <h2><i class="icon-phone icons"></i> Soporte técnico tel: 2420-3200</h2>
    </div>

</div>

</div>



    </div>
    
  </div>



  <script src="../../js/vendor/jquery.js"></script>
  <script src="../../js/vendor/what-input.js"></script>
  <script src="../../js/vendor/foundation.js"></script>
  <script src="../../js/app.js"></script>

</body>
</html>
