<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=EDGE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BI B@anking</title>
    <!-- <link rel="stylesheet" href="css/val.css"> -->
    <link rel="stylesheet" href="../../css/opensans.css">
    <!-- <link rel="stylesheet" href="css/ani.css"> -->
    <link rel="stylesheet" href="../../css/foundation.css">
    <link rel="stylesheet" href="../../css/app.css">
    <!-- <link rel="stylesheet" href="css/bancalogged.css"> -->
    <link rel="stylesheet" href="../../css/header.css">
    <!-- <link rel="stylesheet" href="css/bancalogged.css"> -->
    <!-- <link rel="stylesheet" href="../../css/index_horizontal.css"> -->
    <!-- <link rel="stylesheet" href="css/gestiones.css"> -->
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/finalizacion.css">

    <!-- <link rel="stylesheet" href="css/fa-svg-with-js.css"> -->
    <!-- icos -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../img/fabicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../img/fabicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../img/fabicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../img/fabicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../img/fabicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../img/fabicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../img/fabicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../img/fabicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../img/fabicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/fabicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../img/fabicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../img/fabicon/favicon-16x16.png">
    <!-- <link rel="stylesheet" href="css/sli.css"> -->
    <link rel="stylesheet" href="../../css/fa/css/fontawesome-all.css">
    <script defer src="../../js/fontawesome/fontawesome-all.js"></script>
    <link rel="stylesheet" href="../../icon/iconos/styles.css">


</head>
<body>


    
    <!-- Menu -->

    <div class="top-bar" id="">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">
                    <a class="no" href="index_horizontal.html"><img id="logo" src="../../img/logo.png" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="index_horizontal.html">Inicio</a></li>
                <li><a href="ayuda.html">Ayuda</a></li>
                <li><a href="horarios.html">Horarios</a></li>
            </ul>
        </div>
    </div>

  <div class="contenedor imgencabezado">
        <img src="../../img/homepublico/gestiones-bi-banking-min.jpg" />
        <div class="texto-encima"><p>Registrarse en <strong>Bi Banking</strong></p></div>
    </div>

    <!-- /Menu -->


        <div class="row section-size">
            <div class="large-12 columns">

                <div class="columns medium-8 medium-offset-2 large-9 large-offset-2 ">

                    <div class="icon icon-finalizacion"> &nbsp &nbsp<span>Finalizaci&oacute;n de <strong>proceso</strong></span></div><br><br>

                    <p class="parrafo"><strong>¡Gracias por utilizar nuestro nuevo asistente para creaci&oacute;n de clientes!</strong><br>Los datos fueron enviados exitosamente a nuestro sistema. Para completar el proceso presenta el formulario en cualquiera de nuestras agencias en un plazo no mayor a 15 d&iacute;as, adjunta una fotocopia legible de la siguiente papeler&iacute;a:<br><br>-Patente de comercio<br>-Nombramiento de representante legal<br>-Documento de identificaci&oacute;n de representante legal<br>-Documento de identificación de los usuarios creados</p>




                <div class="large-12 columns etiqueta">
  <div class="large-3 medium-6 columns"><p class="descEtiqueta">Banco Industrial, S.A.</p></div>
  <div class="large-2 medium-6 columns"><p class="descEtiqueta "><span class="numero"  style="font-size: inherit;" > 30 </span> - Abril - <span class="numero"  style="font-size: inherit;" > 2020 </span></p></div>
  <div class="large-2 medium-6 columns"><p class="descEtiqueta "> <span class="numero"  style="font-size: inherit;" >16:35:04 </span> pm</p></div>
  <div class="large-5 medium-6 columns"><p class="descEtiqueta ">Autorización No.<span class="numero"  style="font-size: inherit;" > 2623-136161361-156161 </span> </p></div>
</div>






                <div class="row">
                    <div class="large-12 columns mtop20">
                        <div class="row">
                            <div class="medium-12 large-7 medium-push-12 large-push-5 columns">
                                <button id="bajarDoc" class="button someToken">Descargar de nuevo el formulario</button>
                            </div>
                            <div class="medium-12 large-5 medium-pull-12 large-pull-7  columns">
                                <a href="index_horizontal.html">
                                    <button class="button default-action " type="button">Regresar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            </div>
        </div>







        <script src="../../js/vendor/jquery.js"></script>
        <script src="../../js/vendor/foundation.js"></script>
        <script src="../../js/vendor/foundation.min.js"></script>
        <script src="../../js/app.js"></script>


<script type="text/javascript">
            $('#bajarDoc').on('click', function () {
window.open("../../doc/Formulario Bi Banking para Agencias NUEVOP.pdf")

       
    

        });


</script>

</body>
</html>
