<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=EDGE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BI B@anking</title>
    <link rel="stylesheet" href="../../css/val.css">
    <link rel="stylesheet" href="../../css/opensans.css">
    <link rel="stylesheet" href="../../css/ani.css">
    <link rel="stylesheet" href="../../css/foundation_cell.css">
   
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/index_horizontal.css">

    <!-- <link rel="stylesheet" href="css/fa-svg-with-js.css"> -->
    <!-- icos -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../img/fabicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../img/fabicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../img/fabicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../img/fabicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../img/fabicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../img/fabicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../img/fabicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../img/fabicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../img/fabicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/fabicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../img/fabicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../img/fabicon/favicon-16x16.png">
    <link rel="stylesheet" href="../../css/sli.css">
    <link rel="stylesheet" href="../../css/fa/css/fontawesome-all.css">
    <script defer src="../../js/fontawesome/fontawesome-all.js"></script>



    <meta name="apple-itunes-app" content="app-id=1169490890">
    <meta name="google-play-app" content="app-id=gt.com.bi.bibanking">
 <link rel="stylesheet" href="../../css/bannerApp/jquery.smartbanner.css" type="text/css" media="screen"> 


</head>
<body>
  <div class="bg-img3"></div>

  <!-- Menu -->

<div class="top-bar" id="">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">
          <a class="no" href="index_horizontal.html"><img id="logo" src="../../img/logo.png" alt=""></a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li class="active"><a href="index_horizontal.html">Inicio</a></li>
            <li><a href="ayuda.html">Ayuda</a></li>
            <li><a href="horarios.html">Horarios</a></li>

        </ul>

       
 
  </div>

  </div>

<!-- /Menu -->


<form data-abide novalidate action="usuario_no_valido.html">


    <div class="grid-container">
        <div class="grid-x grid-margin-x all_divs">

            <!--<div class="cell large-4 div_main  animated fadeIn medium-6">-->

            <div class="cell forpas mover">
                <h3><center><strong>Bi Banking </strong></h3>
            </div>

            <div class="cell forpas">
                <h5><center>Banca Empresarial</h5>
            </div>


            <div class="large-2 medium-4 small-12 cell large-offset-3 celular mover2">
                <label data-validate="Ingresa tu c&oacute;digo">
                    <input id="usercode" class="input100 ph-center" required pattern="number" maxlength="30" type="text" placeholder="Código">
                    <span class="form-error">
                        C&oacute;digo incorrecto
                    </span>
                </label>
            </div>

            <div class="large-2 medium-4 small-12 cell celular mover2">
                <label data-validate="Ingresa tu usuario">
                    <input class="input100 ph-center" type="text" required pattern="alpha_numeric" maxlength="30" placeholder="Usuario">
                    <span class="form-error">
                        Usuario incorrecto
                    </span>
                </label>
            </div>

            <div class="large-2 medium-4 small-12 cell celular mover2">
                <label data-validate="Ingresa tu contraseña">
                    <input class="input100 ph-center" type="password" minlength="4" maxlength="30" required placeholder="Contraseña">
                    <span class="form-error">
                        Contrase&ntilde;a incorrecta
                    </span>
                </label>
            </div>

            <div class="large-2 medium-4 medium-offset-4 cell large-offset-5">
                <button class="hollow button expanded login100-form-btn ph-center" type="submit">Ingresar</button>
            </div>

            <div class="large-2 medium-4 medium-offset-4 cell large-offset-5">
                <a href="gestiones.html">
                    <button class="hollow button expanded login100-form-btn registrar ph-center" type="button">
                        Registrarse
                    </button>
                </a>
            </div>

        </div>
    </div>

   

</form>


       <div class="cell forpas ayuda">
            <div><a id="btnOpenModalPassword">
                Olvid&eacute; mi contrase&ntilde;a</a></div>
       </div>


               <!--  Olvide contra     -->

      <div class="reveal large" id="forpas_modal" data-reveal>

      	<div id="forpas_texto">
        <h1>¿Olvidaste tu contrase&ntilde;a?</h1>
        <p class="modal_p">Si tienes actualizado tu número de celular en tu perfil de seguridad podrás reiniciar tu contraseña a través de un mensaje de texto.<br><br>Si no tienes tu número de celular actualizado, puedes reiniciar tu contraseña descargando la 
          <strong><a href="reinicio_contrasenia.html">carta de reinicio de contraseña</a></strong> y entregarla en la Agencia Bi m&aacute;s cercana.
        <br><br></p></div>

          <div class="tab-pane fade in show active cell large-10" id="panel1" role="tabpanel">

          <form data-abide novalidate id="formpass">

<div class="grid-container2">
    <div class="grid-x grid-margin-x ">


            <div class="wrap-input100 validate-input large-6 cell ph-center2">
            <label  data-validate = "Ingresa tu c&oacute;digo" >C&oacute;digo
              <input id="usercode" class="input100" required pattern="number" type="text" placeholder="C&oacute;digo">

          <span class="form-error">
            C&oacute;digo incorrecto
          </span>
            </label>
          </div>


        <div class="wrap-input100 validate-input large-6 cell ph-center2">
            <label data-validate = "Ingresa tu usuario">Usuario
              <input class="input100" type="text" required pattern="alpha_numeric" placeholder="Usuario">
     
          <span class="form-error">
            Usuario incorrecto
          </span>
            </label>
          </div>

        </div>
      </div>


              <div class="container-login100-form-btn p-t-10">
                <button class="hollow next button expanded login100-form-btn" type="submit" id="btn_sb">Recuperar contrase&ntilde;a</button>
              </div>

            </form>

          </div>
          

<div class="" id="msg_suc" style="display: none;">
  <center><h1>Env&iacute;o de contrase&ntilde;a</h1>
  <center><p>Se ha enviado una contraseña a tu celular ****-7689 vía mensaje de texto. <strong>Utilízala para poder establecer una contraseña nueva que solo tu conozcas.</strong></p>
</div>


<div class="" id="msg_suc2" style="display: none;">
  <center><h1>¡Configuración pendiente!</h1>
  <center><p>Para el uso de esta opción, debes tener tu perfil actualizado. <strong>Por favor comunícate con a soporte técnico al PBX: 2420-3200.</strong></p>
</div>


          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>


        </div>

        <!--  Finaliza Olvide contra     -->


     <!--<footer>
      <div>
      </div>
    </footer>-->

    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/vendor/foundation.js"></script>
    <script src="../../js/vendor/foundation.min.js"></script>
    <script src="../../js/app.js"></script>

  <script src="../../css/bannerApp/jquery.smartbanner.js"></script>
   <script src="../../css/bannerApp/scriptSmartBanner.js"></script>

<script type="text/javascript">


$('#btnOpenModalPassword').on('click', function() {
  $('#forpas_modal').foundation('open');
    $("#msg_suc").hide();
     $("#panel1, #forpas_texto").show()

     $('#formpass').trigger("reset");
});

</script>

<script>


$(document).ready(function($) {
  $(document).on('submit', '#formpass', function(event) {
    event.preventDefault();
  
      $("#msg_suc").show();
      $("#panel1, #forpas_texto").hide()
  });
});

</script>





</body>
</html>
