<html>
  <head>
    <title>reCAPTCHA demo: Simple page</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <form action="?" method="POST">
        <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LdmeZobAAAAAJsnjrBTR0kiTQ28cfti38OLSBzc"></div>  
      <br/>
      <input id="submitBtn" type="submit" value="Submit" disabled>
    </form>
  </body>
  <script>
    function recaptchaCallback() {
    $('#submitBtn').removeAttr('disabled');
    };
  </script>
</html>
