<html>
  <head>
    <title>reCAPTCHA demo: Simple page</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <form class="recaptchaForm" action="?" method="POST">
      <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6LdmeZobAAAAAJsnjrBTR0kiTQ28cfti38OLSBzc"></div>  
      </div>
      <br/>
      <input type="submit" value="Submit">
    </form>
  </body>
  <script>
  $(document).ready(function(){
    var recaptcha = $('#g-recaptcha-response').val();
    if (recaptcha===""){
      event.preventDefault();
      alert("Llenar captcha")
    }
  });
    </script>
</html>
