<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=EDGE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BI B@anking</title>
    <!-- <link rel="stylesheet" href="css/val.css"> -->
    <link rel="stylesheet" href="../../css/opensans.css">
    <!-- <link rel="stylesheet" href="css/ani.css"> -->
    <link rel="stylesheet" href="../../css/foundation.css">
    <link rel="stylesheet" href="../../css/app.css">
    <!-- <link rel="stylesheet" href="css/bancalogged.css"> -->
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/reinicio_contrasenia.css">
    <!-- <link rel="stylesheet" href="css/fa-svg-with-js.css"> -->
    <!-- icos -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../img/fabicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../img/fabicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../img/fabicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../img/fabicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../img/fabicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../img/fabicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../img/fabicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../img/fabicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../img/fabicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/fabicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../img/fabicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../img/fabicon/favicon-16x16.png">
    <!-- <link rel="stylesheet" href="css/sli.css"> -->
    <link rel="stylesheet" href="../../css/fa/css/fontawesome-all.css">
    <script defer src="../../js/fontawesome/fontawesome-all.js"></script>


</head>
<body>


    <!-- Menu -->

    <div class="top-bar" id="">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">
                    <a class="no" href="index_horizontal.html"><img id="logo" src="../../img/logo.png" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="index_horizontal.html">Inicio</a></li>
                <li><a href="ayuda.html">Ayuda</a></li>
                <li><a href="horarios.html">Horarios</a></li>
            </ul>
        </div>
    </div>


    <div class="contenedor imgencabezado">
        <img src="../../img/homepublico/descarga-carta-de-inicio-min.jpg" />
        <div class="texto-encima"><p>Descarga de carta de reinicio <strong>de contraseña</strong></p></div>
    </div>
    <!-- /Menu -->


    <form data-abide novalidate id="formPassword" >

<div class="row section-size">

<div class="large-12 columns">

  <div class="columns medium-4 medium-offset-0 large-4 large-offset-0 verticalLine  ">
      <p class="parrafo">
          Utiliza esta opci&oacute;n si no cuentas con tu perfil de seguridad actualizado. <br><br>
          Ingresa los datos solicitados para poder <strong>descargar la carta de reinicio de contraseña. </strong>Deber&aacute;s presentarla impresa y debidamente firmada en cualquiera de nuestras agencias.
      </p>
                </div>


<div class="large-7 medium-8 large-offset-1 columns">

<div class="row">
      <div class="large-6 medium-6 columns ">
          <label>
              C&oacute;digo
              <input class="placeholder numero" pattern="number"  type="text" placeholder="Ingresa tu c&oacute;digo" required="">
              <span class="form-error">
                  Ingresa tu c&oacute;digo.
              </span>
          </label>
      </div>



      <div class="large-6 medium-6 columns ">
                 <label>
                              Usuario
                                <input class="placeholder numero" type="text" placeholder="Ingresa tu usuario" required="">
                                <span class="form-error">
                                    Ingresa tu usuario.
                                </span>
                            </label>
      </div>
</div>





<div class="row">
            <div class="large-6 medium-6 columns ">
                <label>
                                N&uacute;mero celular
                                <input  class="placeholder numero" pattern="number" type="text" placeholder="N&uacute;mero de celular" required="">
                                <span class="form-error">
                                    Ingresa tu n&uacute;mero celular.
                                </span>
                            </label>
      </div>




            <div class="large-6 medium-6 columns ">
                <label>
                    Compañ&iacute;a
                    <select  type="option" required="">
                        <option type="option" value="">Selecciona una compañ&iacute;a</option>
                        <option type="option" value="1">Tigo</option>
                        <option type="option" value="2">Claro</option>
                    </select>
                    <span class="form-error">
                        Selecciona una opci&oacute;n.
                    </span>
                </label>
      </div>

</div>

<div class="row">
            <div class="large-12 medium-12 columns ">
                    <label>Correo electr&oacute;nico
    <input class="placeholder numero" placeholder="Tu correo electr&oacute;nico" type="text" required pattern="email">
    <span class="form-error" data-form-error-on="required">
      Ingresa tu correo electr&oacute;nico.
    </span>
    <span class="form-error" data-form-error-on="pattern">
      Correo electr&oacute;nico inv&aacute;lido
    </span>
  </label>
      </div>
</div>
<div class="row">

     <div class="large-12 large-offset-0  medium-12  columns" style="margin-top: 20px;">
        <div class="row">
                                  <div class="medium-6 large-6 medium-push-6 large-push-6 columns">
                                <button id="btnAceptar"  class="button someToken">Generar carta</button>
                            </div>
                            <div class="medium-6 large-6 medium-pull-6 large-pull-6  columns">
                                <a href="index_horizontal.html">
                                    <button id="close" class="button default-action " type="button">Regresar</button>
                                </a>
                            </div>
                        </div>
                    </div>

</div>
</div>
</div>
</div>
    </form>



    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/vendor/foundation.js"></script>
    <script src="../../js/vendor/foundation.min.js"></script>
    <script src="../../js/app.js"></script>


    



    <script type="text/javascript">
      

             $(document).ready(function($) {


$(document)
.on("submit", function(ev) {
  ev.preventDefault();

  $('#formPassword').foundation('resetForm');

window.open("https://issuu.com/corporacionbi/docs/bb_reiniciar_contrasen_a_de_usuarios?fr=sNzVkODEwNjM5Mjk")


});




});




    </script>

</body>
</html>
