<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta http-equiv="x-ua-compatible" content="IE=EDGE">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BI B@anking</title>
<!-- <link rel="stylesheet" href="css/val.css"> -->
  <link rel="stylesheet" href="../../css/opensans.css">
  <!-- <link rel="stylesheet" href="css/ani.css"> -->
  <link rel="stylesheet" href="../../css/foundation.css">
  <link rel="stylesheet" href="../../css/app.css">
  <!-- <link rel="stylesheet" href="css/bancalogged.css"> -->
  <link rel="stylesheet" href="../../css/header.css">
  <link rel="stylesheet" href="../../css/general.css">

  <!-- <link rel="stylesheet" href="css/fa-svg-with-js.css"> -->
      <!-- icos -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../img/fabicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../img/fabicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../img/fabicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../img/fabicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../img/fabicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../img/fabicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../img/fabicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../img/fabicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../../img/fabicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/fabicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../img/fabicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../img/fabicon/favicon-16x16.png">
    <!-- <link rel="stylesheet" href="css/sli.css"> -->
    <link rel="stylesheet" href="../../css/fa/css/fontawesome-all.css">
    <script defer src="../../js/fontawesome/fontawesome-all.js"></script>
    <link rel="stylesheet" href="../../icon/iconos/styles.css">
    

</head>
<body>


  <!-- Menu -->

<div class="top-bar" id="">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">
          <a class="no" href="index_horizontal.html"><img id="logo" src="../../img/logo.png" alt=""></a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="index_horizontal.html">Inicio</a></li>
            <li><a href="ayuda.html">Ayuda</a></li>
            <li><a href="horarios.html">Horarios</a></li>
        </ul>
    </div>
  </div>


<div class="contenedor imgencabezado">
  <img src="../../img/homepublico/pantallas-varias-min.jpg" />
</div>

<!-- /Menu -->
       
<form data-abide novalidate>

<div class="row">
  <div class="large-12 columns">

      <div class="columns medium-8 medium-offset-2 large-6 large-offset-3 " style="margin-top: 115px;">

        <center><div><img id="logoBI" src="../../img/logoBI.png" alt=""></div>

                <p class="parrafo">Saliendo de sesi&oacute;n actual</p>

    </div>
  </div>
</div>

</form>

</div>
</div>

    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/vendor/foundation.js"></script>
    <script src="../../js/vendor/foundation.min.js"></script>
    <script src="../../js/app.js"></script>

</body>
</html>
